__pycache__/
*.pyc
*.pyo

.venv/
venv/

python/tests/
python/userlens/__pycache__/
python/.venv/
python/dist/

js/node/tests/
js/node_modules/
js/node/node_modules/
js/web/node_modules/

js/node/EventTracker.test.js